syntax = "proto3";
package proto.abstracts;

message {{ .ProtoMessageName }} {
{{- range .Enums}}
  enum {{.Name}} {
  {{- range $idx, $option := .Options}}
    {{$option}} = {{$idx}};
  {{- end}}
  }
{{end}}

{{- range .ProtoFields}}
  {{.FieldType}} {{.Name}} = {{.Number}};
{{- end}}
}
